/* GENERAL DISPLAY ***********************************************************/

body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 640px;
  height: 250px;
  border: 1px solid black;
  overflow: hidden;
}

/* PLAYER ********************************************************************/

#player {
  width: 88px;
  height: 84px;
  position: relative;
  top: calc(250px - 84px);
  left: 50px;
  background-image: url('assets/chicken-spritesheet.png');
}

.run {
  animation: run .6s steps(6, end) infinite;
}

.jump {
  background-position: -1200% 0;
  animation: jump cubic-bezier(.2,1.11,1,1) 700ms 1;
}

@keyframes run {
  to {background-position: -1200% 0;}
}

@keyframes jump {
  0%,
  100%  {transform: translateY(0);}
  50%   {transform: translateY(-130px);}
}

/* MOBS **********************************************************************/

.fox {
  width: 128px;
  height: 69px;
  position: relative;
  top: 95px;
  left: 640px;
  background-image: url('assets/fox-spritesheet.png');
  animation:  fox-walk .6s steps(8, end) infinite,
              to-left 2s linear 1;
}

@keyframes fox-walk {
  to {background-position: -800% 0;};
}

@keyframes to-left {
  to {left: -128px;}
}
