/* GENERAL DISPLAY ***********************************************************/

body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 640px;
  min-width: 640px;
  height: 300px;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
}

/* PLAYER ********************************************************************/

#player {
  position: absolute;
  width: 88px;
  height: 84px;
  left: 50px;
  bottom: 0;
  background-image: url('assets/chicken-spritesheet.png');
}
